/*.lista {
  background-color: rgb(221, 221, 221);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 0;
}*/
/*.navbar-nav{
  float: left; 
  margin: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative;
}*/

.navbar {
    background-color: rgb(221, 221, 221) !important;
  }
  
  .nav-item {
    text-align: justify;
  }
  
  .lista a {
    text-decoration: none;
    color: $colortexto;
    font-weight: bold;

    &:hover {
      background-color: $colorfondo;
      padding: 20px 20px;
    }
  }
  

  
  .container-principal {
    @if $fondo==verdadero{
      background-color: $colorfondo2;
      padding-top: 35px;
      padding-right: 21px;
      padding-bottom: 71px;
      padding-left: 21px;
      text-align: center;
    }
  
    @else if $fondo==falso{
      background-color: rgb(255, 0, 0);
    }
  }
  
  .container-sabores {
    background-color: $colorfondo2;
    padding-top: 35px;
    padding-right: 21px;
    padding-bottom: 71px;
    padding-left: 21px;
    text-align: center;
    background-image: url(../images/helados.png);
  }
  
  .margen-principal {
    background-color: $colorfondo;
    padding: 80px;
  }
  
  .container-secundario {
    background-color: $colorfondo2;
    padding: 80px;
    text-align: center;
  }
  
  .margen-secundario {
    background-color: $colorfondo;
    padding: 80px;
  }
  
  .sociales a {
    color: $colortexto;
    font-size: 60px;
    margin: 10px;
    padding: 10px;
    align-self: center;
  }
  
  .subir {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    color: $colortexto;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    box-shadow: 2px 2px 5px;
    border-radius: 50px;
  }
  
  .container-secundario h2, .container-principal h1 {
    padding: 20px;
  }
  
  @mixin boton {
    color: $colortexto;
    background-color: $colorfondo;
  }
  
  .btn {
    @include boton;
    margin: 15px;

  &:hover {
      color: #fff;
      background-color: rgb(111, 204, 204);
    }
  }
  

  
  .form {
    margin: auto;
    width: $ancho*2;
  }
  
  #lomasmap, #lanusmap, #escaladamap {
    text-align: center;
    padding-bottom: 30px;
  }
  
  #helados {
    border-radius: 35px;
  }
  
  #lomasimg, #escaladaimg, #lanusimg {
    border-radius: $ancho + $ancho2;
  }
  
  #captchaBackground {
    height: auto;
    width: auto;
    background-color: #2d3748;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #captchaHeading {
    color: #ffffff;
  }
  
  #captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: $colorboton;
    border: 0px;
    font-weight: bold;
  }
  
  #refreshButton {
    background-color: $colorboton;
    border: 0px;
    font-weight: bold;
  }
  
  #textBox {
    height: 25px;
  }
  
  .incorrectCaptcha {
    color: #FF0000;
  }
  
  .correctCaptcha {
    color: #7FFF00;
  }