

footer {
    background-color: $colorfondo2;
    text-align: center;
    width: auto;
    padding: 20px;
    font-size: 15px;
  }
  
  .linksexternos {
    color: $colortexto;
    font-size: 43px;
    margin: 0 18px;
    padding: 20px;
    align-self: center;
  }
  
  .redes a {
    color: $colortexto;
    width: $ancho;
    padding: 10px;
  }
  