// Paleta Colores

$colorfondo: rgb(5, 201, 201);
$colorfondo2: rgb(173, 255, 255);
$colortexto: rgb(0, 0, 0);
$colorboton: rgb(10, 231, 255);

// Dimensiones
$ancho: 100px;
$ancho2: 50px;


//Mi constante
$fondo: verdadero;